.modeContainer {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.modeButton {
  width: 20vh;
  height: 20vh;
}

.homeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  column-gap: 10vh;
  align-items: center;
  justify-content: center;
}
