.boardContainer,
.buttonContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  margin-top: 3vh;
}

.winnerContainer {
  position: absolute;
  font-size: 10vh;
  border: 2px solid lightgray;
  /* background-color: snow; */
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/36/Large_bonfire.jpg");
  font-weight: bold;
  color: firebrick;
  height: 30vh;
  width: 40vw;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
