.boardContainer,
.buttonContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  margin-top: 13vh;
}

.boardContainer {
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 15vh;
}

.player {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winnerContainer {
  position: absolute;
  font-size: 10vh;
  border: 2px solid lightgray;
  /* background-color: snow; */
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/36/Large_bonfire.jpg");
  font-weight: bold;
  color: firebrick;
  height: 30vh;
  width: 40vw;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .boardContainer {
    flex-direction: row;
  }
}

h3 {
  font-size: 2vh;
  color: rgb(237, 240, 57);
}
