p {
  font-size: 3vh;
  color: rgb(237, 240, 57);
  word-spacing: 0.3vh;
  text-shadow: 0.3vh 0.3vh black;
}

h2 {
  font-size: 5vh;
  color: rgb(211, 174, 54);
}

.content {
  margin-top: 12vh;
}

span {
  font-weight: bold;
  font-style: italic;
}
