#square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2vh solid black;
}

.defaultBg {
  background-color: gainsboro;
}

.greenBg {
  background-color: lightgreen;
  color: green;
}

.redBg {
  background-color: lightpink;
  color: palevioletred;
}

#square:hover {
  transform: scale(1.5);
}
